@import "plugins/plugins";

canvas {
	width: 200px
}


$sidebar-width: 220px;

.sidebar-main {
	position: fixed;
	background-color: lighten(#222, 10%);
	box-shadow: -3px 0px 0px rgba(#000, 0.2) inset;
	top: 0;
	bottom: 0;
	padding: 10px;
	left: -$sidebar-width;
	width: $sidebar-width;

	.sidebar-body {
		width: 100%;
		height: 100%;
		overflow: scroll;
	}
}
.sidebar-main, body {
	transition: left 0.2s ease-in-out, padding 0.2s ease-in-out;
}

body.sidebar {
	padding-left: $sidebar-width;

	.sidebar-main {
		left: 0;
	}
}